/* For sign up section */
.signup-div{
    width: 100%;
    height: 95%;
}
.logoImg{
    width: 75px;
    height: 66px;
    margin: 1px 0px 0px 148px;
}
.signup-form{
    padding: 20px;
    margin-top: 30px;
}
.signup-txt{
    margin-top: 10px;
}
.signup-btn{
    margin-top: 90px;
}